
@media only screen and (min-width: 768px) {

/*
-------------------------------------------
              LAYOUT
-------------------------------------------
*/

.container {
  grid-template-rows: 80px 1fr;
}

/*
-------------------------------------------
                  HEADER
-------------------------------------------
*/

.main-header {

  &__left {

    .logo-container {
      width: 80px;
    }
  }

  &__right {
    
    .user-image-container {
      padding: 24px 24px;
    }
  }
}

/*
-------------------------------------------
              INVOICES PAGE
-------------------------------------------
*/

  .invoices-page {
    min-width: 630px;
  
    &__header {
      margin-bottom: 56px;
  
      div:first-child {
        margin-right: 40px;

        h2 {
          @include heading-1;
          margin-bottom: 8px;
        }
      }
    }
  



    .invoice-list-item {
      
      > div {
        flex-direction: row;
        align-items: center;
      }
  
      &__id {
        flex: 0 1 auto;
        order: 1;
      }
      
      &__date {
        order: 2;
        margin: 0;
        margin-left: 6%;
      }
      
      &__total {
        order: 4;
        margin-left: auto;
      }
      
      &__customer {
        order: 3;
        margin: 0;
        margin-left: 7%;
      }
      
      [class*="invoice-list-item--status"] {
        flex: 0 1 auto;
        order: 5;
        margin-left: 6%;
      }
    }

    .empty-invoices {
  
      .empty-image-container {
        height: 200px;
        margin-bottom: 64px;
        margin-top: 178px;
      }
    }
  }  
}