.invoices-page {
  background-color: $bg-light;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    div:first-child {
      margin-right: 18px;

      h2 {
        @include heading-2;
      }

      span {
        @include body-1;
        color: $text-gray;
      }
    }

    div:last-child {
      display: flex;
      align-items: center;
    }
  }

  &__list {
    box-sizing: border-box;
    width: calc(100% + 21px);
    max-height: calc(100vh - 250px);
    padding-right: 15px;
    padding-bottom: 10px;
    overflow-y: scroll;
  }

  .invoice-list-item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-height: 134px;
    padding: 24px;
    margin-bottom: 16px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 10px 10px -10px $blue-shadow;
    
    > div {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      text-align: right;
    }

    &__id {
      flex: 1 1 auto;
      display: inline-block;
      @include heading-4;
      text-align: left;

      span {
        color: $details-gray-blue;
      }
    }
    
    &__date {
      align-content: flex-end;
      display: block;
      margin-bottom: 10px;
      @include body-1;
      color: $text-gray;
      text-align: left;
      white-space: nowrap;
    }
    
    &__total {
      @include heading-3;
      text-align: left;
    }
    
    &__customer {
      width: auto;
      display: block;
      margin-bottom: 24px;
      @include body-1;
      color: $text-gray;
    }
  }

  .invoice-list-item:hover {
    border: 1px solid $purple;
  }

  .invoice-list-item:last-child {
    margin-bottom: 0;
  }

  .empty-invoices {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .empty-image-container {
      height: 160px;
      margin-bottom: 40px;
      margin-top: 70px;

      img {
        height: 100%;
      }
    }

    h2 {
      margin-bottom: 24px;
      @include heading-2
    }

    p {
      max-width: 200px;
      @include body-1;
      color: $text-gray;

      b {
        font-weight: 700;
      }
    }
  }
}

/*
-------------------------------------------
             FILTER BY STATUS
-------------------------------------------
*/


.filter-container {
  position: relative;
  
  .filter-status {
    position: absolute;
    top: 40px;
    right: 50%;
    transform: translateX(50%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 192px;
    padding: 24px;
    @include heading-4;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px 10px $blue-shadow;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    cursor: pointer;
    
    input {
      position: relative;
      margin: 0;
      margin-right: 13px;

      &::after {
        position: absolute;
        top: -3px;
        left: 0;
        box-sizing: border-box;
        content: "";
        height: 16px;
        width: 16px;
        cursor: pointer;
        background-color: $text-bright-gray;
        border-radius: 2px;    
      }
      &:hover {

        &::after {
          border: 1px solid $purple;
        }
      }

      &:checked {

        &::after {
          background-color: $purple;
          background-image: url("/images/icon-check.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  label:last-child {
    margin-bottom: 0;
  }
}

/*
-------------------------------------------
                DARK MODE
-------------------------------------------
*/

.dark {
  background-color: $bg-dark;
  
  .invoices-page {
    background-color: $bg-dark;
    
  
    &__header {
  
      div:first-child {
  
        h2 {
          color: #fff
        }

        span {
          color: $text-bright-gray;
        }
      }

      h3 {
        color: #fff;
      }
    }
  
    .invoice-list-item {
      background-color: $el-bg-dark;
  
      &__id {
        color: #fff;
      }
      
      &__date {
        color: $text-bright-gray;
      }
      
      &__total {
        color: #fff;
      }
      
      &__customer {
        color: $text-bright-gray;
      }
    }
    
    .empty-invoices {
  
      h2 {
        color: #fff;
      }
  
      p {
        color: $text-bright-gray;
      }
    }
  }

  .filter-container {
    position: relative;
    
    .filter-status {
      background-color: $filter-dark-background;
      box-shadow: 0 10px 20px 10px $black-shadow;
      color: #fff;
    }
  
    label {
      
      input {
  
        &::after {
          background-color: $el-bg-dark;
        }
        &:hover {
  
          &::after {
            border: 1px solid $purple;
          }
        }
  
        &:checked {
  
          &::after {
            background-color: $purple;
            background-image: url("/images/icon-check.svg");
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  
    label:last-child {
      margin-bottom: 0;
    }
  }
}