@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/*------------- COLORS --------------*/
/*
  font-family: 'Spartan', sans-serif;
*/
body {
  font-family: "Spartan", sans-serif;
  color: #0d0f17;
  letter-spacing: 0.03125em;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: 72px 1fr;
  height: 100%;
  background-color: #f9f9fb;
}

.main-header {
  grid-row: 1/2;
  grid-column: 1/2;
}

.main-content {
  box-sizing: border-box;
  grid-row: 2/3;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  max-width: 730px;
  padding: 7.3% 6.5%;
  margin: 0 auto;
}

.invoice-page {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.invoice-page .main-content {
  max-width: 100%;
  padding-bottom: 56px;
  margin: 0;
}
.invoice-page .content-container {
  padding: 32px 24px;
  margin-bottom: 56px;
}
.invoice-page__header {
  margin-bottom: 32px;
}
.invoice-page__info {
  max-width: 730px;
}
.invoice-page__info > header {
  margin-bottom: 16px;
}

.main-header {
  display: flex;
  background-color: #1e2139;
}
.main-header__left {
  flex: 0 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.main-header__left .logo-container {
  position: relative;
  width: 72px;
  height: 100%;
  background-color: #7b5cfa;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.main-header__left .logo-container div {
  width: 100%;
  height: 50%;
}
.main-header__left .logo-container div:nth-child(2) {
  background-color: #9175ff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.main-header__left .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-header__left .btn-mode {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 24px;
}
.main-header__right .user-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  border-left: 1px solid #494f6e;
}
.main-header__right .user-image-container img {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}
.filter-btn h3 {
  padding-right: 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  white-space: nowrap;
}

.btn {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 24px;
}

.new-invoice-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  padding-right: 14px;
  background-color: #7b5cfa;
}
.new-invoice-btn svg {
  padding: 12px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 100%;
}
.new-invoice-btn:hover {
  background-color: #9175ff;
}

.btn-mode {
  cursor: pointer;
}
.btn-mode:hover path {
  fill: #e0e4fa;
}

.btn-edit {
  padding: 16px 24px;
  color: #7f89c3;
  background-color: #fbfbfe;
}

.btn-delete {
  padding: 16px 24px;
  background-color: #ec5555;
}

.btn-paid {
  padding: 16px 27px;
  background-color: #7b5cfa;
}

/*
-------------------------------------------
                DARK MODE
-------------------------------------------
*/
.dark .btn-edit {
  background-color: #252946;
  color: #e0e4fb;
}

.new-invoice-form {
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  padding: 32px 24px;
  overflow: hidden;
  background-color: #fff;
  transition: width 0.8s;
}
.new-invoice-form__header {
  margin-bottom: 24px;
}
.new-invoice-form__header a {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #000;
}
.new-invoice-form__header a svg {
  margin-right: 24px;
}
.new-invoice-form h2 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.63px;
  font-size: 24px;
}

.invoice-form fieldset {
  margin-bottom: 40px;
}
.invoice-form fieldset legend {
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7b5cfa;
}
.invoice-form .field {
  margin-bottom: 24px;
}
.invoice-form .field label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 500;
  color: #7f89c3;
}
.invoice-form input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  border: 1px solid #e0e4fb;
  border-radius: 4px;
  text-indent: 20px;
}
.invoice-form input:focus {
  outline: 1px solid #9175ff;
}
.invoice-form .bill-from {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.invoice-form .bill-from__name-field {
  flex: 0 1 100%;
}
.invoice-form .bill-from__city-field {
  flex: 0 1 45%;
}
.invoice-form .bill-from__post-code-field {
  flex: 0 1 45%;
}
.invoice-form .bill-from__country-field {
  flex: 0 1 100%;
  margin-bottom: 0;
}
.invoice-form .bill-to {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.invoice-form .bill-to__name-field {
  flex: 0 1 100%;
}
.invoice-form .bill-to__email-field {
  flex: 0 1 100%;
}
.invoice-form .bill-to__address-field {
  flex: 0 1 100%;
}
.invoice-form .bill-to__city-field {
  flex: 0 1 45%;
}
.invoice-form .bill-to__post-code-field {
  flex: 0 1 45%;
}
.invoice-form .bill-to__country-field {
  flex: 0 1 100%;
  margin-bottom: 0;
}
.invoice-form .invoice-info__date input {
  text-indent: 10px;
}
.table-container {
  width: 100%;
}

.invoice-table {
  width: 100%;
  margin-top: 48px;
  background-color: #fbfbfe;
}
.invoice-table th, .invoice-table td {
  padding: 16px;
}
.invoice-table th {
  padding-top: 32px;
}
.invoice-table th:first-child,
.invoice-table td:first-child {
  padding-left: 32px;
}
.invoice-table th:last-child,
.invoice-table td:last-child {
  padding-right: 32px;
}
.invoice-table thead, .invoice-table tbody {
  background-color: #fbfbfe;
}
.invoice-table tbody {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}
.invoice-table tbody tr:last-child td {
  padding-bottom: 32px;
}
.invoice-table .columns-names {
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.23px;
  color: #7f89c3;
  font-weight: 500;
}
.invoice-table .columns-names__item-name {
  width: 50%;
  width: auto;
  text-align: left;
  border-top-left-radius: 8px;
}
.invoice-table .columns-names__quantity {
  width: 10%;
  text-align: center;
}
.invoice-table .columns-names__price {
  width: 20%;
  text-align: right;
}
.invoice-table .columns-names__total {
  width: 20%;
  text-align: right;
  border-top-right-radius: 8px;
}
.invoice-table__item-name {
  text-align: left;
}
.invoice-table__item-quantity {
  color: #7f89c3;
  text-align: center;
}
.invoice-table__item-price {
  color: #7f89c3;
  text-align: right;
}
.invoice-table__item-subtotal {
  text-align: right;
}
.invoice-table tfoot {
  background-color: #373b53;
}
.invoice-table tfoot tr {
  background-color: #373b53;
}
.invoice-table tfoot th {
  padding: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.23px;
  color: #e0e4fa;
  text-align: left;
  border-bottom-left-radius: 8px;
  vertical-align: middle;
}
.invoice-table tfoot td {
  padding: 24px 32px;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: right;
  border-bottom-right-radius: 8px;
}

/*
-------------------------------------------
                DARK MODE
-------------------------------------------
*/
.dark .invoice-table {
  background-color: #252946;
}
.dark .invoice-table th:first-child,
.dark .invoice-table td:first-child {
  padding-left: 32px;
}
.dark .invoice-table thead, .dark .invoice-table tbody {
  background-color: #252946;
}
.dark .invoice-table .columns-names {
  color: #e0e4fb;
}
.dark .invoice-table__item-name {
  color: #fff;
}
.dark .invoice-table__item-quantity {
  color: #e0e4fb;
}
.dark .invoice-table__item-price {
  color: #e0e4fb;
}
.dark .invoice-table__item-subtotal {
  color: #fff;
}
.dark .invoice-table tfoot {
  background-color: #0d0e17;
}
.dark .invoice-table tfoot tr {
  background-color: #0d0e17;
}
.dark .invoice-table tfoot th {
  color: #fff;
}
.dark .invoice-table tfoot td {
  color: #fff;
}

[class*=invoice--status] {
  align-self: flex-end;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  padding: 13px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 8px;
}
[class*=invoice--status] .dot {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 100%;
}

.invoice--status-paid {
  color: #33d7a0;
  background-color: #f2fdfa;
}
.invoice--status-paid .dot {
  background-color: #33d7a0;
}
.invoice--status-pending {
  color: #ff9100;
  background-color: #fff9f0;
}
.invoice--status-pending .dot {
  background-color: #ff9100;
}
.invoice--status-draft {
  color: #373b53;
  background-color: #f4f4f5;
}
.invoice--status-draft .dot {
  background-color: #373b53;
}

/*
-------------------------------------------
                DATE PICKER
-------------------------------------------
*/
.date-picker {
  position: relative;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}
.date-picker__display-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 20px;
  margin-bottom: 8px;
  border: 1px solid #e0e4fb;
  border-radius: 4px;
}
.date-picker__box-dates {
  position: absolute;
  top: 56px;
  left: 50%;
  box-sizing: border-box;
  display: none;
  width: 242px;
  padding: 32px 20px;
  padding-bottom: 16px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 20px 0px rgba(71, 84, 158, 0.25);
  transform: translateX(-50%);
}
.date-picker__box-dates .months {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
  text-align: center;
}
.date-picker__box-dates .months button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.date-picker__box-dates .days {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}
.date-picker__box-dates .days .day {
  display: inline-block;
  width: 16px;
  margin-right: 15px;
  margin-bottom: 16px;
  cursor: pointer;
  text-align: center;
}
.date-picker__box-dates .days .day:hover {
  color: #9175ff;
}
.date-picker__box-dates .days .day:nth-child(7n) {
  margin-right: 0;
}

/*
-------------------------------------------
                DARK MODE
-------------------------------------------
*/
.dark .invoice--status-paid {
  background-color: #282b43;
}
.dark .invoice--status-paid .dot {
  background-color: #33d7a0;
}
.dark .invoice--status-pending {
  background-color: #2a2735;
}
.dark .invoice--status-pending .dot {
  background-color: #ff9100;
}
.dark .invoice--status-draft {
  color: #e0e4fa;
  background-color: #282b43;
}
.dark .invoice--status-draft .dot {
  background-color: #e0e4fa;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e0e4fb;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #252946;
}

.invoices-page {
  background-color: #f9f9fb;
  overflow: hidden;
}
.invoices-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.invoices-page__header div:first-child {
  margin-right: 18px;
}
.invoices-page__header div:first-child h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.63px;
}
.invoices-page__header div:first-child span {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eaf;
}
.invoices-page__header div:last-child {
  display: flex;
  align-items: center;
}
.invoices-page__list {
  box-sizing: border-box;
  width: calc(100% + 21px);
  max-height: calc(100vh - 250px);
  padding-right: 15px;
  padding-bottom: 10px;
  overflow-y: scroll;
}
.invoices-page .invoice-list-item {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-height: 134px;
  padding: 24px;
  margin-bottom: 16px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 10px 10px -10px rgba(71, 84, 158, 0.104);
}
.invoices-page .invoice-list-item > a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  color: #000;
  text-align: right;
}
.invoices-page .invoice-list-item__id {
  flex: 1 1 auto;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
}
.invoices-page .invoice-list-item__id span {
  color: #7e88c4;
}
.invoices-page .invoice-list-item__date {
  align-content: flex-end;
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eaf;
  text-align: left;
  white-space: nowrap;
}
.invoices-page .invoice-list-item__total {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.8px;
  text-align: left;
}
.invoices-page .invoice-list-item__customer {
  width: auto;
  display: block;
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eaf;
}
.invoices-page .invoice-list-item:hover {
  border: 1px solid #7b5cfa;
}
.invoices-page .invoice-list-item:last-child {
  margin-bottom: 0;
}
.invoices-page .empty-invoices {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.invoices-page .empty-invoices .empty-image-container {
  height: 160px;
  margin-bottom: 40px;
  margin-top: 70px;
}
.invoices-page .empty-invoices .empty-image-container img {
  height: 100%;
}
.invoices-page .empty-invoices h2 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.63px;
}
.invoices-page .empty-invoices p {
  max-width: 200px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eaf;
}
.invoices-page .empty-invoices p b {
  font-weight: 700;
}

/*
-------------------------------------------
             FILTER BY STATUS
-------------------------------------------
*/
.filter-container {
  position: relative;
}
.filter-container .filter-status {
  position: absolute;
  top: 40px;
  right: 50%;
  transform: translateX(50%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 192px;
  padding: 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 20px 10px rgba(71, 84, 158, 0.104);
}
.filter-container label {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  cursor: pointer;
}
.filter-container label input {
  position: relative;
  margin: 0;
  margin-right: 13px;
}
.filter-container label input::after {
  position: absolute;
  top: -3px;
  left: 0;
  box-sizing: border-box;
  content: "";
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-color: #e0e4fa;
  border-radius: 2px;
}
.filter-container label input:hover::after {
  border: 1px solid #7b5cfa;
}
.filter-container label input:checked::after {
  background-color: #7b5cfa;
  background-image: url("/images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.filter-container label:last-child {
  margin-bottom: 0;
}

/*
-------------------------------------------
                DARK MODE
-------------------------------------------
*/
.dark {
  background-color: #141624;
}
.dark .invoices-page {
  background-color: #141624;
}
.dark .invoices-page__header div:first-child h2 {
  color: #fff;
}
.dark .invoices-page__header div:first-child span {
  color: #e0e4fa;
}
.dark .invoices-page__header h3 {
  color: #fff;
}
.dark .invoices-page .invoice-list-item {
  background-color: #1e2139;
}
.dark .invoices-page .invoice-list-item__id {
  color: #fff;
}
.dark .invoices-page .invoice-list-item__date {
  color: #e0e4fa;
}
.dark .invoices-page .invoice-list-item__total {
  color: #fff;
}
.dark .invoices-page .invoice-list-item__customer {
  color: #e0e4fa;
}
.dark .invoices-page .empty-invoices h2 {
  color: #fff;
}
.dark .invoices-page .empty-invoices p {
  color: #e0e4fa;
}
.dark .filter-container {
  position: relative;
}
.dark .filter-container .filter-status {
  background-color: #252946;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.25);
  color: #fff;
}
.dark .filter-container label input::after {
  background-color: #1e2139;
}
.dark .filter-container label input:hover::after {
  border: 1px solid #7b5cfa;
}
.dark .filter-container label input:checked::after {
  background-color: #7b5cfa;
  background-image: url("/images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.dark .filter-container label:last-child {
  margin-bottom: 0;
}

.invoice-page {
  background-color: #f9f9fb;
}
.invoice-page__header a {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #000;
}
.invoice-page__header a svg {
  margin-right: 24px;
}
.invoice-page__info .status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.invoice-page__info p, .invoice-page__info h4 {
  color: #7f89c3;
}
.invoice-page__info h4 {
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
}
.invoice-page__info p {
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.23px;
}
.invoice-page__info strong {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.31px;
}
.invoice-page__info > * {
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 10px 10px -10px rgba(71, 84, 158, 0.104);
  border-radius: 8px;
}
.invoice-page__info > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invoice-page__info > header h4 {
  margin-bottom: 0;
}
.invoice-page__info .invoice-content {
  display: flex;
  flex-flow: row wrap;
}
.invoice-page__info .invoice-content__header {
  flex: 0 1 100%;
  margin-bottom: 32px;
}
.invoice-page__info .invoice-content__header h2 {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  margin-bottom: 4px;
}
.invoice-page__info .invoice-content__header span {
  color: #7f89c3;
}
.invoice-page__info .invoice-content__header > div:first-child {
  margin-bottom: 30px;
}
.invoice-page__info .invoice-content__dates {
  flex: 0 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.invoice-page__info .invoice-content__customer-info {
  flex: 0 1 40%;
}
.invoice-page__info .invoice-content__customer-info strong {
  display: inline-block;
  margin-bottom: 8px;
}
.invoice-page__info .invoice-content__customer-email {
  flex: 0 1 100%;
  margin-top: 32px;
  margin-bottom: 40px;
}
.invoice-page__info .amounts {
  width: 100%;
}
.invoice-page__info .amounts__items-list {
  padding: 24px;
  background-color: #fbfbfe;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.invoice-page__info .amounts__items-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.invoice-page__info .amounts__items-list li h3, .invoice-page__info .amounts__items-list li strong {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}
.invoice-page__info .amounts__items-list li h3 {
  margin-bottom: 8px;
}
.invoice-page__info .amounts__items-list li p {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
}
.invoice-page__info .amounts__items-list li:last-child {
  margin-bottom: 0;
}
.invoice-page__info .amounts__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #373b53;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.invoice-page__info .amounts__total h4 {
  margin: 0;
  color: #e0e4fa;
}
.invoice-page__info .amounts__total strong {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.63px;
  color: #fff;
}
.invoice-page__actions {
  display: flex;
  justify-content: space-between;
  padding: 22px 24px;
  background-color: #fff;
}

/*
-------------------------------------------
                DARK MODE
-------------------------------------------
*/
.dark .invoice-page {
  background-color: #141624;
}
.dark .invoice-page__header a {
  color: #fff;
}
.dark .invoice-page__info p, .dark .invoice-page__info h4 {
  color: #e0e4fa;
}
.dark .invoice-page__info strong {
  color: #fff;
}
.dark .invoice-page__info > * {
  background-color: #1e2139;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.25);
}
.dark .invoice-page__info .invoice-content__header h2 {
  color: #fff;
}
.dark .invoice-page__info .amounts {
  width: 100%;
}
.dark .invoice-page__info .amounts__items-list {
  background-color: #252946;
}
.dark .invoice-page__info .amounts__items-list li h3, .dark .invoice-page__info .amounts__items-list li strong {
  color: #fff;
}
.dark .invoice-page__info .amounts__items-list li p {
  color: #e0e4fa;
}
.dark .invoice-page__info .amounts__total {
  background-color: #0d0e17;
}
.dark .invoice-page__info .amounts__total h4 {
  color: #fff;
}
.dark .invoice-page__actions {
  background-color: #1e2139;
}

@media only screen and (min-width: 768px) {
  /*
  -------------------------------------------
                LAYOUT
  -------------------------------------------
  */
  .container {
    grid-template-rows: 80px 1fr;
  }

  /*
  -------------------------------------------
                    HEADER
  -------------------------------------------
  */
  .main-header__left .logo-container {
    width: 80px;
  }
  .main-header__right .user-image-container {
    padding: 24px 24px;
  }

  /*
  -------------------------------------------
                INVOICES PAGE
  -------------------------------------------
  */
  .invoices-page {
    min-width: 630px;
  }
  .invoices-page__header {
    margin-bottom: 56px;
  }
  .invoices-page__header div:first-child {
    margin-right: 40px;
  }
  .invoices-page__header div:first-child h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 8px;
  }
  .invoices-page .invoice-list-item > a {
    flex-direction: row;
    align-items: center;
  }
  .invoices-page .invoice-list-item__id {
    flex: 0 1 auto;
    order: 1;
  }
  .invoices-page .invoice-list-item__date {
    order: 2;
    margin: 0;
    margin-left: 6%;
  }
  .invoices-page .invoice-list-item__total {
    order: 4;
    margin-left: auto;
  }
  .invoices-page .invoice-list-item__customer {
    order: 3;
    margin: 0;
    margin-left: 7%;
  }
  .invoices-page .invoice-list-item [class*=invoice--status] {
    flex: 0 1 auto;
    order: 5;
    margin-left: 6%;
  }
  .invoices-page .empty-invoices .empty-image-container {
    height: 200px;
    margin-bottom: 64px;
    margin-top: 178px;
  }

  /*
  -------------------------------------------
                INVOICE PAGE
  -------------------------------------------
  */
  .invoice-page__info .status-container {
    justify-content: flex-start;
    width: auto;
  }
  .invoice-page__info .status-container h4 {
    margin-right: 16px;
  }
  .invoice-page__info strong {
    font-size: 15px;
  }
  .invoice-page__info > * {
    padding: 32px;
  }
  .invoice-page__info > header {
    padding: 20px 32px;
    margin-bottom: 24px;
  }
  .invoice-page__info .invoice-content {
    justify-content: flex-start;
  }
  .invoice-page__info .invoice-content__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
  }
  .invoice-page__info .invoice-content__header h2 {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .invoice-page__info .invoice-content__header > div:last-child {
    text-align: right;
  }
  .invoice-page__info .invoice-content__dates {
    flex: 0 1 auto;
    margin-right: 98px;
  }
  .invoice-page__info .invoice-content__customer-info {
    flex: 0 1 auto;
    margin-right: 110px;
  }
  .invoice-page__info .invoice-content__customer-email {
    flex: 0 1 auto;
    margin: 0;
  }
  .invoice-page__actions {
    padding: 0px;
  }
  .invoice-page__actions button {
    margin-left: 8px;
  }
}
@media only screen and (min-width: 960px) {
  /*
  -------------------------------------------
                LAYOUT
  -------------------------------------------
  */
  .container {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    height: 100%;
  }

  .main-header {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100vh;
  }

  .main-content {
    grid-row: 1/2;
    grid-column: 2/3;
    padding-top: 72px;
    margin: 0 auto;
    margin-left: 7%;
  }

  /*
  -------------------------------------------
                HEADER
  -------------------------------------------
  */
  .main-header {
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .main-header__left {
    flex-direction: column;
  }
  .main-header__left .logo-container {
    height: 80px;
  }
  .main-header__left .btn-mode {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .main-header__right .user-image-container {
    border-left: none;
    border-top: 1px solid #494f6e;
  }

  /*
  -------------------------------------------
                INVOICES PAGE
  -------------------------------------------
  */
  .invoices-page {
    box-sizing: content-box;
    min-width: 730px;
  }
  .invoices-page__header {
    margin-bottom: 56px;
  }
  .invoices-page__header div:first-child {
    margin-right: 40px;
  }
  .invoices-page__header div:first-child h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 8px;
  }
  .invoices-page .invoice-list-item > a {
    flex-direction: row;
    align-items: center;
  }
  .invoices-page .invoice-list-item__id {
    flex: 0 1 auto;
    order: 1;
  }
  .invoices-page .invoice-list-item__date {
    order: 2;
    margin: 0;
    margin-left: 6%;
  }
  .invoices-page .invoice-list-item__total {
    order: 4;
    margin-left: auto;
  }
  .invoices-page .invoice-list-item__customer {
    order: 3;
    margin: 0;
    margin-left: 7%;
  }
  .invoices-page .invoice-list-item [class*=invoice-list-item--status] {
    flex: 0 1 auto;
    order: 5;
    margin-left: 6%;
  }
  .invoices-page .empty-invoices .empty-image-container {
    margin-top: 119px;
  }
}
