@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/*------------- COLORS --------------*/
/*
  font-family: 'Spartan', sans-serif;
*/
body {
  font-family: "Spartan", sans-serif;
  color: #0d0f17;
  letter-spacing: 0.03125em;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: 72px 1fr;
  height: 100%;
  background-color: #f9f9fb;
  overflow: hidden;
}

.main-header {
  grid-row: 1/2;
  grid-column: 1/2;
}

.main-content {
  box-sizing: border-box;
  grid-row: 2/3;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  max-width: 730px;
  padding: 7.3% 6.5%;
  margin: 0 auto;
}

.main-header {
  display: flex;
  background-color: #1e2139;
}
.main-header__left {
  flex: 0 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.main-header__left .logo-container {
  position: relative;
  width: 72px;
  height: 100%;
  background-color: #7b5cfa;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.main-header__left .logo-container div {
  width: 100%;
  height: 50%;
}
.main-header__left .logo-container div:nth-child(2) {
  background-color: #9175ff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.main-header__left .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-header__left .btn-mode {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 24px;
}
.main-header__right .user-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  border-left: 1px solid #494f6e;
}
.main-header__right .user-image-container img {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
}
.filter-btn h3 {
  padding-right: 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.new-invoice-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  padding-right: 14px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  color: #fff;
  background-color: #7b5cfa;
  border: none;
  border-radius: 24px;
}
.new-invoice-btn svg {
  padding: 12px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 100%;
}

.invoices-page {
  background-color: #f9f9fb;
}
.invoices-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.invoices-page__header div:first-child {
  margin-right: 18px;
}
.invoices-page__header div:first-child h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.63px;
}
.invoices-page__header div:first-child span {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eaf;
}
.invoices-page__header div:last-child {
  display: flex;
  align-items: center;
}
.invoices-page__list {
  max-height: calc(100vh - 250px);
  overflow-y: scroll;
}
.invoices-page .invoice-list-item {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-height: 134px;
  padding: 24px;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 10px -10px rgba(71, 84, 158, 0.104);
}
.invoices-page .invoice-list-item > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-align: right;
}
.invoices-page .invoice-list-item__id {
  flex: 1 1 auto;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
}
.invoices-page .invoice-list-item__id span {
  color: #7e88c4;
}
.invoices-page .invoice-list-item__date {
  align-content: flex-end;
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eaf;
  text-align: left;
  white-space: nowrap;
}
.invoices-page .invoice-list-item__total {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.8px;
  text-align: left;
}
.invoices-page .invoice-list-item__customer {
  width: auto;
  display: block;
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eaf;
}
.invoices-page .invoice-list-item [class*=invoice-list-item--status] {
  flex: 1 1 auto;
  align-self: flex-end;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  padding: 13px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 8px;
}
.invoices-page .invoice-list-item [class*=invoice-list-item--status] .dot {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 100%;
}
.invoices-page .invoice-list-item--status-paid {
  color: #33d7a0;
  background-color: #f2fdfa;
}
.invoices-page .invoice-list-item--status-paid .dot {
  background-color: #33d7a0;
}
.invoices-page .invoice-list-item--status-pending {
  color: #ff9100;
  background-color: #fff9f0;
}
.invoices-page .invoice-list-item--status-pending .dot {
  background-color: #ff9100;
}
.invoices-page .invoice-list-item--status-draft {
  color: #373b53;
  background-color: #f4f4f5;
}
.invoices-page .invoice-list-item--status-draft .dot {
  background-color: #373b53;
}

/*
-------------------------------------------
                DARK MODE
-------------------------------------------
*/
.dark {
  background-color: #141624;
}
.dark .invoices-page {
  background-color: #141624;
}
.dark .invoices-page__header div:first-child h2 {
  color: #fff;
}
.dark .invoices-page__header div:first-child span {
  color: #e0e4fa;
}
.dark .invoices-page__header h3 {
  color: #fff;
}
.dark .invoices-page .invoice-list-item {
  background-color: #1e2139;
}
.dark .invoices-page .invoice-list-item__id {
  color: #fff;
}
.dark .invoices-page .invoice-list-item__date {
  color: #e0e4fa;
}
.dark .invoices-page .invoice-list-item__total {
  color: #fff;
}
.dark .invoices-page .invoice-list-item__customer {
  color: #e0e4fa;
}
.dark .invoices-page .invoice-list-item--status-paid {
  background-color: #282b43;
}
.dark .invoices-page .invoice-list-item--status-paid .dot {
  background-color: #33d7a0;
}
.dark .invoices-page .invoice-list-item--status-pending {
  background-color: #2a2735;
}
.dark .invoices-page .invoice-list-item--status-pending .dot {
  background-color: #ff9100;
}
.dark .invoices-page .invoice-list-item--status-draft {
  color: #e0e4fa;
  background-color: #282b43;
}
.dark .invoices-page .invoice-list-item--status-draft .dot {
  background-color: #e0e4fa;
}

@media only screen and (min-width: 768px) {
  /*
  -------------------------------------------
                LAYOUT
  -------------------------------------------
  */
  .container {
    grid-template-rows: 80px 1fr;
  }

  /*
  -------------------------------------------
                    HEADER
  -------------------------------------------
  */
  .main-header__left .logo-container {
    width: 80px;
  }
  .main-header__right .user-image-container {
    padding: 24px 24px;
  }

  /*
  -------------------------------------------
                INVOICES PAGE
  -------------------------------------------
  */
  .invoices-page {
    min-width: 630px;
  }
  .invoices-page__header {
    margin-bottom: 56px;
  }
  .invoices-page__header div:first-child {
    margin-right: 40px;
  }
  .invoices-page__header div:first-child h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 8px;
  }
  .invoices-page .invoice-list-item > div {
    flex-direction: row;
    align-items: center;
  }
  .invoices-page .invoice-list-item__id {
    flex: 0 1 auto;
    order: 1;
  }
  .invoices-page .invoice-list-item__date {
    order: 2;
    margin: 0;
    margin-left: 6%;
  }
  .invoices-page .invoice-list-item__total {
    order: 4;
    margin-left: auto;
  }
  .invoices-page .invoice-list-item__customer {
    order: 3;
    margin: 0;
    margin-left: 7%;
  }
  .invoices-page .invoice-list-item [class*=invoice-list-item--status] {
    flex: 0 1 auto;
    order: 5;
    margin-left: 6%;
  }
}
@media only screen and (min-width: 960px) {
  /*
  -------------------------------------------
                LAYOUT
  -------------------------------------------
  */
  .container {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    height: 100%;
  }

  .main-header {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100vh;
  }

  .main-content {
    grid-row: 1/2;
    grid-column: 2/3;
    padding-top: 72px;
    margin: 0 auto;
    margin-left: 7%;
  }

  /*
  -------------------------------------------
                HEADER
  -------------------------------------------
  */
  .main-header {
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .main-header__left {
    flex-direction: column;
  }
  .main-header__left .logo-container {
    height: 80px;
  }
  .main-header__left .btn-mode {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .main-header__right .user-image-container {
    border-left: none;
    border-top: 1px solid #494f6e;
  }

  /*
  -------------------------------------------
                INVOICES PAGE
  -------------------------------------------
  */
  .invoices-page {
    box-sizing: content-box;
    min-width: 730px;
  }
  .invoices-page__header {
    margin-bottom: 56px;
  }
  .invoices-page__header div:first-child {
    margin-right: 40px;
  }
  .invoices-page__header div:first-child h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 8px;
  }
  .invoices-page .invoice-list-item > div {
    flex-direction: row;
    align-items: center;
  }
  .invoices-page .invoice-list-item__id {
    flex: 0 1 auto;
    order: 1;
  }
  .invoices-page .invoice-list-item__date {
    order: 2;
    margin: 0;
    margin-left: 6%;
  }
  .invoices-page .invoice-list-item__total {
    order: 4;
    margin-left: auto;
  }
  .invoices-page .invoice-list-item__customer {
    order: 3;
    margin: 0;
    margin-left: 7%;
  }
  .invoices-page .invoice-list-item [class*=invoice-list-item--status] {
    flex: 0 1 auto;
    order: 5;
    margin-left: 6%;
  }
}
