.main-header {
  display: flex;
  background-color: $el-bg-dark;

  &__left {
    flex: 0 1 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logo-container {
      position: relative;
      width: 72px;
      height: 100%;
      background-color: $purple; 
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;

      div {
        width: 100%;
        height: 50%;
      }
      
      div:nth-child(2) {
        background-color: $purple-light;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .sun, .moon {
      margin-right: 24px;
    }
  }

  &__right {
    
    .user-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 24px;
      border-left: 1px solid hsl(231, 20%, 36%);

      img {
        height: 32px;
        width: 32px;
        border-radius: 100%;
      }
    }
  }
}