.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;

  h3 {
    padding-right: 12px;
    @include heading-4;
  }
}

.btn {
  cursor: pointer;
  @include body-1;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 24px;
}

.new-invoice-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  padding-right: 14px;
  background-color: $purple;

  svg {
    padding: 12px;
    margin-right: 8px;
    background-color: #fff;
    border-radius: 100%;
  }

  &:hover {
    background-color: $purple-light;
  }
}

.btn-mode {
  cursor: pointer;

  &:hover path {
    fill: $text-bright-gray;
  }
}

.btn-edit {
  padding: 16px 24px;
  color: $text-gray-blue;
  background-color: $bg-light-blue;
}

.btn-delete {
  padding: 16px 24px;
  background-color: $red;
}

.btn-paid {
  padding: 16px 27px;
  background-color: $purple;
}


/*
-------------------------------------------
                DARK MODE
-------------------------------------------
*/

.btn-edit { 
  background-color: $bg-edit-dark-mode;
  color: $text-edit-dark-mode;
}