$primary: hsl(22, 68, 57);
$primary-light: hsl(21, 94, 75);
$dark: hsl(0, 0, 6);
$light: hsl(0, 0%, 95%);
$grey-light: hsl(0, 0, 85);
$grey-90: hsl(0, 0, 90);
$super-light: hsl(0, 0, 98);
$alert: hsl(0, 65, 49);
$white: #fff;
$black: #000;  