
/*------------- COLORS --------------*/

$purple: hsl(252, 94%, 67%);
$purple-light: hsl(252, 100%, 73%);
$bg-dark: hsl(233, 30%, 11%);
$bg-light: hsl(240, 27%, 98%);
$el-bg-dark: hsl(233, 31%, 17%);
$red: hsl(0, 80%, 63%);
$red-hover: hsl(0, 100%, 80%);
$font-dark: hsl(228, 29%, 7%);
$text-gray: hsl(231, 20%, 61%);
$details-gray-blue: hsl(231, 37%, 63%); 
$dark-green: hsl(160, 67%, 52%);
$light-green: hsl(162, 71, 97);
$dark-orange: hsl(34, 100, 50);
$light-orange: hsl(36, 100, 97);
$dark-gray: hsl(231, 20%, 27%);
$light-gray: hsl(240, 5%, 96%);